<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Noticias </h1>
		<table>
			<tr>
				<th>ID</th>
				<th>noticia</th>
				<th>resumo</th>
				<th>Autor</th>
				<th>Data</th>
			</tr>
			<% for (i = 0; i < noticias.length; i++) { %>
				<tr>
					<td><%= noticias[i].id_noticia %></td>
					<td><%= noticias[i].titulo %></td>
					<td><%= noticias[i].resumo %></td>
					<td><%= noticias[i].autor%></td>
					<td><%= noticias[i].data_noticia%></td>
				</tr>
			<% } %>
		</table>
	</body>
</html>